*, h1, h2, h3, h4, h5, img {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a, a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.p-rel {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#map-block {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#map-block img, #map-block map {
    position: fixed;
    bottom: 0;
    /* right: 0; */
    /* left: 0; */
}
#heder {
    filter: drop-shadow(0 4px 0 #e8cb27);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    z-index: 99;
}
#heder-block {
    clip-path: polygon(0 0, 100% 0, 100% 52px, 280px 52px, 200px 100%, 0 100%);
    background-color: #292a2e;
    height: 100%;
    width: 100%;
    position: relative;
}
#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
}
#settings {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-100%);
    right: 0;
    margin-right: 16px;
}
#settings svg {
    float: right;
    width: 28px;
    color: #e8cb27;
    transition: .5s;
    /* margin-left: 2px; */
}
#settings svg:hover {
    transform: rotate(120deg);
}
#settings a {
    float: right;
    margin-right: 6px;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: bold;
    color: #e8cb27;
    border-radius: 4px;
}
#settings a:hover {
    background-color: #e8cb27;
    color: #292a2e;
}
.language-active {
    background-color: #e8cb27;
    color: #292a2e!important;
}
#buttons-block {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 100%;
    background-image: linear-gradient(to right, #292a2e, #292a2eb3);
    transition: .5s;
}
.menu-btn svg {
    color: #ffffffb3;
    margin: 0px 6px;
    margin-top: 16px;
    width: 28px;
    transition: .3s;
}
.menu-btn svg:hover {
    margin-left: 10px;
    margin-right: 7px;
    color: #fff;
}
#menu-block {
    position: fixed;
    top: 80px;
    left: 40px;
    bottom: 0;
    background-color: #e8cb27;
    /* box-shadow: 0 0px 10px 10px #e8cb2761; */
    transition: .5s;
    width: 160px;
}
.menu-open-closed svg {
    color: #e8cb27;
    width: 30px;
    height: 30px;
    margin: 2px 5px -4px;
    transition: .5s;
}
#home-block, #layers-block {
    position: absolute;
    top: 4px;
    left: 8px;
    right: 8px;
    bottom: 0;
    width: calc( 100% - 16px);
    height: 100%;
    display: none;
}
.menu-block-close {
    
}
.menu-block-close span {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin-top: 6px;
}
.menu-block-close svg {
    color: #f10;
    float: right;
    height: 28px;
    width: 28px;
}
.menu-block-info {
    margin-top: 44px;
}
.menu-block-info li {
    color: #fff;
    font-size: 16px;
    margin: 12px 6px;
    font-weight: 700;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #292a2e4d, #ffffffcc);
    border-image-slice: 5%;
    color: white;
    cursor: pointer;
}
