* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100vh;
} */
#map {
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
}
.active {
    fill: #00ff118c;
    stroke: #fff;
}
.leaflet-control-attribution .leaflet-control > a {
    display: none!important;
    color: aqua;
}